/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255,255,255);
    margin-top: 78px;
    margin-bottom: 70px;
}

.full {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.full img{
    width: 100%; /* 画像の幅を画面の幅に合わせる */
    height: 100%; /* アスペクト比を保持しつつ幅が変わるようにする */
    /*max-width: 100%; 最大幅を画面の幅に合わせる */
    object-fit: cover;
}

header {
    /* background-color: rgba(242,242,242,0.8);
    padding: 20px;
    position: flexed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;  水平方向の中央揃え 
    align-items: center; */
}
    
.logo {
    text-align: center;
}

.logo img {
    max-width: 200px;
    /*margin-right: 370px;*/
}

nav {
    background-color: rgba(242,242,242,0.8);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 20px; /* 上下の余白を10pxに設定 */
}

nav .left-buttons,
nav .right-buttons {
    display: flex;
    align-items: center;
    /*margin-right: 370px; ボタンを右端に移動 */
}

nav .left-buttons {
    margin-right: auto;
}

nav .right-buttons {
    margin-left: auto;
}

/* .left-buttons .ccc:last-child,
.right-buttons .ccc:first-child{
    margin-right: 0;
} */

.ccc {
    padding:10px 0px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    margin-top: 0px;
}

.main-content {
    margin-top: 0px; /* Adjust according to header height */
    text-align: center;
}

.main-content img {
    max-width: 100%;
    height: auto;
}

.season-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-buttons {
    position: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}


.image-buttons img {
    margin-left: 10px;
    width: 100%; /* 画像の幅を画面の幅に合わせる */
    height: 100%; /* アスペクト比を保持しつつ幅が変わるようにする */
    /*max-width: 100%; 最大幅を画面の幅に合わせる */
    object-fit: cover;
}

.button-overlay1, .button-overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    padding: 10px 20px;
    background-color: rgba(242, 242, 242, 0.5); /* ボタンの背景色 */
    color: #fff; /* ボタンの文字色 */
    border: 5px solid transparent; /* ボタンの枠線 */
    border-radius: 0px; /* ボタンの角丸 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ボタンの影 */
    overflow: hidden; /* 枠線の外部を隠す */
}

.image-button:hover .button-overlay1, .image-button:hover .button-overlay2 {
    border-color: #fff; /* ホバー時の枠線の色 */
    animation: pulse 1s infinite alternate; /* アニメーションの適用 */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.image-button {
    display: inline-block;
    position: relative; /* 相対位置指定 */
    margin: 0 10px; /* ボタンの間隔 */
}
